<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>language</param-name>
        <param-value>Vietnamese</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminAccessController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.AdminAccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAccessController</servlet-name>
        <url-pattern>/AdminAccess/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserAccessController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.UserAccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccessController</servlet-name>
        <url-pattern>/Access/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>