<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>language</param-name>
        <param-value>Vietnamese</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>user_home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminAccessController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.AdminAccessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInvoiceController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.AdminInvoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAccessController</servlet-name>
        <url-pattern>/AdminAccessController/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminFlightController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.AdminFlightController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminFlightController</servlet-name>
        <url-pattern>/AdminFlightController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserAccessController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.UserAccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccessController</servlet-name>
        <url-pattern>/UserAccessController/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserFlightController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.UserFlightController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserFlightController</servlet-name>
        <url-pattern>/UserFlightController/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BookingHistoryController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.BookingHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingHistoryController</servlet-name>
        <url-pattern>/BookingHistoryController/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminUserListController</servlet-name>
        <servlet-class>com.fptuni.prj301.demo.controller.AdminUserListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserListController</servlet-name>
        <url-pattern>/AdminUserListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInvoiceController</servlet-name>
        <url-pattern>/AdminInvoiceController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
